<!-- <h1 class="title"
    [innerText]="'send.title' | translate"></h1>
<p class="description"
    [innerText]="'send.description' | translate"></p> -->

{{totDivi}} DIVI


    <form class="form-inline">
        <br/>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="From">
       <br/>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputName2" placeholder="To">
    </form>
    <br/>

    <div align="center"></div>
        <img align="center" src="../assets/images/076_send_paperplane-64.png" >
    <div>
