<!--
    <h1 class="title"
    [innerText]="'home.title' | translate"></h1>
<p class="description"
    [innerText]="'home.description' | translate"></p>
-->

  <h4><p>Welcome {{name}}</p></h4>
    <br/>
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Target (Ballantyne Location)</h5>
          <h6 class="card-subtitle mb-2 text-muted">February 6th 2016</h6>
        <!--  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        -->
        </div>
      </div>
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Target (Ballantyne Location)</h5>
       <div>
            <h6 class="card-subtitle mb-2 text-muted">
                    February 6th 2016     -$215.04
            </h6>
       </div> 
        </div>
      </div>

      <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Target (Ballantyne Location)</h5>
            <h6 class="card-subtitle mb-2 text-muted">February 6th 2016</h6>
          <!--  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          -->
          </div>
        </div>
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title">Target (Ballantyne Location)</h5>
         <div>
              <h6 class="card-subtitle mb-2 text-muted">
                      February 6th 2016     -$215.04
              </h6>
         </div> 
          </div>
        </div>

    <!-- <mat-form-field>
            <input matInput placeholder="From">
      </mat-form-field>  -->
